* {
	font-family: 'Arial';
}
body {
	background-color: whitesmoke;
}

a {
	margin-inline: 5px;
}

details {
	margin-block: 10px;
	&[open] {
		background-color: rgb(255, 255, 255);
		padding: 20px;
		box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.1);

		summary {
			font-size: 18px;
			font-weight: 800;
		}
	}

	em {
		margin-block: 5px;
		display: inline-block;
		font-weight: 600;
		text-transform: none;
	}
	> * {
		padding: 6px;
		text-transform: capitalize;
	}
}
